/* quiz.css */
html, body {
    background-color: #eee;
    color: #111;
    font-family: 'Arial', sans-serif;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}
header {
    background-color: #111;
    background-image: url(./ibalogo1.svg);
    background-repeat: no-repeat;
    background-position: 99% 1%;
    background-size: 79px 50px;
    color: #eee;
    height: 50px;
    margin: 0;
    padding: .5em;
}
h1 {
}
h2, h3 {
    margin-bottom: .3em;
}
a {
    border: 2px outset black;
    padding: .2em;
    text-decoration: none;
}
main {
    margin: .5em;
    padding: .5em;
}
section {
    margin: .5em 0;
}
article {
    margin: .5em 0;
}
